runs/
checkpoints/
train_task2_with_pseudo_labels_2d.json
train_task3_with_pseudo_labels_2d.json
train_task4_with_pseudo_labels_2d.json
datasets/embeddings/
models/__pycache__/
datasets/__pycache__/
.dist_test/
.ipynb_checkpoints/
.vscode/
tools/__pycache__
/vis_results/
./debug_vis_results
